.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
    box-shadow: 3px 0 6px black;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.hidden {
    display: none;
}

.spacer {
    flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.mat-toolbar a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

mat-list-item {
    padding-top: 5px;
}

.mat-expansion-panel.mat-expanded {
    background: #27f0f0e0;
}

.hoverlist:hover {
    background-color: rgb(170, 11, 202);
    color: aliceblue;
}

.marginform {
    margin: auto;
}