<mat-sidenav-container class="sidenav-container">
    <!-- ngClass use for hide MENU  -->
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <div mat-list-item>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title style="text-align: center;">
                            <mat-icon>account_box</mat-icon>
                            COSTUMER
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list role="list">

                        <mat-list-item class="hoverlist" role="listitem" routerLink="/createCustomer">CREATE</mat-list-item>
                        <mat-list-item class="hoverlist" role="listitem" routerLink="/viewCustomer">Views</mat-list-item>
                        <mat-list-item class="hoverlist" role="listitem" routerLink="/createCustomer">Create</mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
            </div>
            <a mat-list-item href="#">Link 2</a>
            <a mat-list-item href="#">Link 3</a>
        </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>liblary</span>
            <span class="spacer"></span>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </mat-toolbar>
        <ng-content></ng-content>
        <!-- Add Content Here -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </mat-sidenav-content>


</mat-sidenav-container>