.name {
    width: 100%;
}

.tel {
    width: 100%;
}

.example-button-row {
    display: table-cell;
    width: 490px;
}


/* form {
    margin-left: 15%;
    background-color: aqua;
    width: 100%;
} */

button {
    margin-bottom: 20px;
}