<div class="col-md-4"></div>
<div class="col-md-8">
    <form class="border border-primary mt-3" [formGroup]="formgroup">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center font-weight-bold text-danger mat-display-1 mt-3">
                    <span>
                        COSTUMER INFO
                  </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
                <mat-form-field appearance="fill" class="name">
                    <mat-label>First Name</mat-label>
                    <input matInput #input maxlength="10" formControlName="firstname" placeholder="Nougat">
                </mat-form-field>
            </div>
            <div class="col-md-5">
                <mat-form-field appearance="fill" class="name">
                    <mat-label>Last Name</mat-label>
                    <input matInput #input maxlength="10" formControlName="lastname" placeholder="Nougat">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Select Gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option>None</mat-option>
                        <mat-option value="Male">Male</mat-option>
                        <mat-option value="Female">Female</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="fill" class="tel">
                    <mat-label>TEL</mat-label>
                    <input matInput #input formControlName="telephone">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <mat-form-field appearance="fill" class="tel">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Input Address" formControlName="address">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <mat-form-field appearance="fill" class="tel">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <mat-form-field appearance="fill" class="tel">
                    <mat-label>Passwords</mat-label>
                    <input matInput placeholder="Passwords" formControlName="password">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <mat-form-field appearance="fill" class="tel">
                    <mat-label>Comfirm Passwords</mat-label>
                    <input matInput placeholder="Comfirm Passwords" formControlName="cpassword">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <section>
                    <button mat-flat-button color="primary" (click)="Submit(formgroup)">Primary</button>
                </section>
            </div>
        </div>
    </form>
</div>